version: "3"
services:
  client:
    restart: unless-stopped
    build:
      dockerfile: Dockerfile.dev
      context: .
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
