name: Deploy project
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Build dev frontend
        run: docker build -t earl/frontend-dev-test -f ./client/Dockerfile.dev ./client
      - name: Test dev frontend
        run: docker run --rm -e CI=true earl/frontend-dev-test npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    env:
      SHORT_SHA: ${{ github.sha[0:7] }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      # - name: Docker login
      #   run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build frontend
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-client:$SHORT_SHA ./client
      - name: Build nginx
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-nginx:$SHORT_SHA ./nginx
      - name: Build server
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-server:$SHORT_SHA ./server
      - name: Build worker
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-worker:$SHORT_SHA ./worker
      - name: Docker push images
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-client:$SHORT_SHA
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-nginx:$SHORT_SHA
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-server:$SHORT_SHA
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-worker:$SHORT_SHA
  #NEXT STEPS
  #Push project to EB ???
  #AWS pulls from ECR/Docker hub then deploys
