name: Deploy project
on:
  push:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Build dev frontend
        run: docker build -t earl/frontend-dev-test -f ./client/Dockerfile.dev ./client
      - name: Test dev frontend
        run: docker run --rm -e CI=true earl/frontend-dev-test npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      # - name: Docker login
      #   run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set SHORT_SHA env property
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: Build frontend
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-client:$SHORT_SHA ./client
      - name: Build nginx
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-nginx:$SHORT_SHA ./nginx
      - name: Build server
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-server:$SHORT_SHA ./server
      - name: Build worker
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-worker:$SHORT_SHA ./worker
      - name: Docker push images
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/multi-client:$SHORT_SHA ${{ secrets.DOCKER_USERNAME }}/multi-client:latest
          docker tag ${{ secrets.DOCKER_USERNAME }}/multi-nginx:$SHORT_SHA ${{ secrets.DOCKER_USERNAME }}/multi-nginx:latest
          docker tag ${{ secrets.DOCKER_USERNAME }}/multi-server:$SHORT_SHA ${{ secrets.DOCKER_USERNAME }}/multi-server:latest
          docker tag ${{ secrets.DOCKER_USERNAME }}/multi-worker:$SHORT_SHA ${{ secrets.DOCKER_USERNAME }}/multi-worker:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-client:$SHORT_SHA
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-nginx:$SHORT_SHA
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-server:$SHORT_SHA
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-worker:$SHORT_SHA
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-client:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-nginx:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-server:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/multi-worker:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: AWS Auth OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::063741353758:role/gh-actions-eb-role
          aws-region: ap-southeast-2
      - name: Install EB CLI
        run: pip install awsebcli
      - name: Deploy app
        run: eb deploy Multi-docker-env
